# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class RenameControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def rename_file(self, old_file_name, new_file_name, **kwargs):  # noqa: E501
        """rename_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rename_file(old_file_name, new_file_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str old_file_name: (required)
        :param str new_file_name: (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.rename_file_with_http_info(old_file_name, new_file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.rename_file_with_http_info(old_file_name, new_file_name, **kwargs)  # noqa: E501
            return data

    def rename_file_with_http_info(self, old_file_name, new_file_name, **kwargs):  # noqa: E501
        """rename_file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rename_file_with_http_info(old_file_name, new_file_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str old_file_name: (required)
        :param str new_file_name: (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['old_file_name', 'new_file_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rename_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'old_file_name' is set
        if ('old_file_name' not in params or
                params['old_file_name'] is None):
            raise ValueError("Missing the required parameter `old_file_name` when calling `rename_file`")  # noqa: E501
        # verify the required parameter 'new_file_name' is set
        if ('new_file_name' not in params or
                params['new_file_name'] is None):
            raise ValueError("Missing the required parameter `new_file_name` when calling `rename_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'old_file_name' in params:
            query_params.append(('oldFileName', params['old_file_name']))  # noqa: E501
        if 'new_file_name' in params:
            query_params.append(('newFileName', params['new_file_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/remotestorage/renameFile', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
